/Work/Janindu/1_Preprocess/venv311
/Work/Janindu/1_Preprocess/Result
/Work/Janindu/1_Preprocess/InputImages
/Work/Janindu/1_Preprocess/AllImages
/Work/Janindu/1_Preprocess/Result-NonFiltered
/Work/Janindu/1_Preprocess/Result-FilteredAllThreeMethods
