fastapi
uvicorn[standard]
python-multipart
pydantic>=2
numpy
opencv-python
pillow
torch
transformers
sentencepiece
ultralytics
pytesseract
pytest
paddlepaddle==3.0.0
paddleocr>=2.7.3
craft-text-detector
scipy
scikit-image
tinydb
river
SpeechRecognition
PyAudio
